<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ul>
    <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
    <li><a  href="/templates/booking.html" th:href="@{/booking}"> Booking</a></li>
    <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
    <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
    <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
    <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
    <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
</ul>
<p>User ID: [[${userID}]]</p>
<div class="about-section">
    <h1>Sport Park Booking</h1>
    <p>Cea mai mare platformă din județul Cluj pentru rezervari online de terenuri de sport.</p>
</div>

<h2 style="text-align:center"> </h2>
<div class="about-section2">
    <p><strong>Sunteți interesat să rezervați un teren de sport ?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>SportParkBooking este un site care vă ajută să faceți rezervarea online gratuit și ușor.</li>
            <li><i class="entypo-play"></i>SportParkBooking răspunde nevoilor moderne de mobilitate și de optimizare a timpului oferit recreerii și exercițiilor fizice.</li>
        </ulMain>
    </p>
    <p><strong>Doriți să aveți în față toate detaliile legate de ofertele existente?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>Toate datele necesare rezervării vă sunt acum centralizate și disponibile online. Astfel, decizia nu mai trebuie luată pe moment și în lipsa unor informații importante.</li>
            <li><i class="entypo-play"></i>SportParkBooking vă oferă posibilitatea de a analiza comparativ facilitățile și tarifele terenurilor de sport care corespund căutărilor dumneavoastră.</li>
            <li><i class="entypo-play"></i>Puteți vizualiza alături de prieteni informațiile generale și intervalele orare disponibile în timp real, pentru a lua decizia potrivită.</li>
        </ulMain>
    </p>
    <p><strong>Cum procedez?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>Prin sistemul gratuit de rezervare online, clientul își creează un cont, se înregistrează și își rezervă terenul de sport selectat în intervalul ales printr-o simplă apăsare de buton.</li>
            <li><i class="entypo-play"></i>Clientul primește pe e-mail confirmarea. La fel de accesibilă este și anularea unei rezervări.</li>
        </ulMain>
    </p>
</div>

<!-- Footer -->
<footer>
    <div class="copyright" >
        <div>
            <ulFooter>
                <p><span class="iconify" data-icon="entypo-location-pin" data-inline="false"></span> Bulevardul Eroilor, nr. 1, Cluj-Napoca</li></p>
                <p><span class="iconify" data-icon="entypo-mail" data-inline="false"></span> home@sportparkbooking.ro</p>
                <p><span class="iconify" data-icon="entypo-clock" data-inline="false"></span> Rezervari NON-STOP</p>
            </ulFooter>
        </div>
        <div class="container">
            <p class="pull-left" >&copy; Toate drepturile rezervate Sport Park Booking</p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


</body>
</html>
