<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ul>
    <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
    <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
    <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
    <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
    <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
    <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
</ul>
<div class="about-section">
    <h1>Sport Park Booking</h1>
    <p>The largest platform in Cluj for online booking of sports playgrounds.</p>
</div>

<h2 style="text-align:center"> </h2>
<div class="about-section2">
    <p><strong>Are you interested in booking a sports playground?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>SportParkBooking is a site that helps you make your reservation online for free and easy.</li>
            <li><i class="entypo-play"></i>SportParkBooking meets the modern needs of mobility and optimization of time spent on recreation and exercise.</li>
        </ulMain>
    </p>
    <p><strong>Do you want to have all the details of existing offers in front of you?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>All your booking details are now centralized and available online. Thus, the decision no longer has to be made in the absence of important information.</li>
            <li><i class="entypo-play"></i>SportParkBooking gives you the opportunity to comparatively analyze the facilities and rates of sports fields that correspond to your searches.</li>
            <li><i class="entypo-play"></i>You can view the general information and time slots available in real time with your friends to make the right decision.</li>
        </ulMain>
    </p>
    <p><strong>How do I make a booking?</strong>
        <ulMain>
            <li><i class="entypo-play"></i>Through the free online booking system, the customer creates an account, registers and reserves the selected sports playground in the chosen interval with a simple push of a button.</li>
            <li><i class="entypo-play"></i>The customer receives the confirmation by e-mail. Cancellation of a reservation is also available.</li>
        </ulMain>
    </p>
</div>

<!-- Footer -->
<footer>
    <div class="copyright" >
        <div>
            <ulFooter>
                <p><span class="iconify" data-icon="entypo-location-pin" data-inline="false"></span> Bulevardul Eroilor nr. 1, Cluj-Napoca</li></p>
                <p><span class="iconify" data-icon="entypo-mail" data-inline="false"></span> home@sportparkbooking.ro</p>
                <p><span class="iconify" data-icon="entypo-clock" data-inline="false"></span> NON-STOP bookings</p>
            </ulFooter>
        </div>
        <div class="container">
            <p class="pull-left" >&copy; All rights reserved: Sport Park Booking</p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


</body>
</html>
