<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>SportParkBooking - ConfirmationLogin</title>
    </head>
    <body>
        <ul>
            <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
            <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
            <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
            <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
            <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
        </ul>
        <h2 class="confirmLogin-title" th:text="'Hello '+ ${name} + ','"></h2>
        <h2 class="confirmLogin-title" th:text="'Your login is successful' + '!'"></h2>
        <h2 class="confirmLogin-title" th:text="'Go to booking' + '!'"></h2>
        <img src="/images/login.jpg"
             th:attr="src=@{/images/login.jpg},title=#{LoginConfirmation},alt=#{LoginConfirmation}" />

    </body>
</html>