<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>SportParkBooking - Tennis Gallery</title>
    </head>
    <body>
        <ul>
            <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
            <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
            <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
            <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
            <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
        </ul>

         <p><a href="/templates/gallery.html"  th:href="@{/gallery}"><button>Back to gallery</button></a></p>

        <div class="row" id="contentRowGallery">
            <div  class="column"  id="contentColumn1">
                <img src="/images/TennisField1.jpg" alt="TennisField1" >
                <div class="container">
                    <h2>TennisField1</h2>
                    <p>This playground is for relaxation, relaxation, relaxation! It couldn't be otherwise given the beautiful area that surrounds it!
                        Located in the Făget Cluj area, this playground is waiting for you at night with recently installed ultra-modern lights!</p>
                </div>
            </div>

            <div class="column" id="contentColumn2">
                <img src="/images/TennisField2.jpg" alt="TennisField2">
                <div class="container">
                    <h2>TennisField2</h2>
                    <p>Located right in the heart of Cluj-Napoca, two steps from the center, in an exclusive playground, for those who want more from a than just an hour of sports!</p>
                </div>
            </div>

            <div class="column" id="contentColumn3">
                <img src="/images/TennisField3.jpg" alt="TennisField3">
                <div class="container">
                    <h2>TennisField3</h2>
                    <p>Situated in the old train station of Cluj, this playground invites you to take part in movement and history at the same time!</p>
                </div>
            </div>

        </div>





    </body>
</html>