<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>SportParkBooking - Football Gallery</title>
    </head>
    <body>
        <ul>
            <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
            <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
            <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
            <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
            <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
        </ul>
        <div class="myCenter">

        </div>
        <p><a href="/templates/gallery.html"  th:href="@{/gallery}"><button>Back to gallery</button></a></p>
        <div class="row" id="contentRow">
            <div class="column" id="contentColumn1">
                <img src="/images/FootballField1.jpg" alt="FootballField1" >
                <div class="container">
                    <h2>Teren 1</h2>
                    <p>Sus pe Feleac va oferim o oportunitate unică ! Fotbal în mijlocul naturii într-o locație deosebită !</p>
                </div>
            </div>

            <div class="column" id="contentColumn2">
                <img src="/images/FootballField2.jpg" alt="FootballField2" >
                <div class="container">
                    <h2>Teren 2</h2>
                    <p>Pentru o combinație perfectă de sport + ieșire în natură vă recomandăm terenul numărul 2 !
                        Situat pe malul Someșului la doi pași de Aeroportul Cluj-Napoca acest teren este accesibil tuturor celor aleg o mișcare plăcută împreună cu prietenii după sfârșitul programului de muncă !</p>
                </div>
            </div>

            <div class="column" id="contentColumn3">
                <img src="/images/FootballField3.jpg" alt="FootballField3">>
                <div class="container">
                    <h2>Teren 3</h2>
                    <p>Situat pe drumul care leagă Cluj-Napoca de Turda acest teren vă oferă posibilitatea de a face sport într-un loc cu adevărat de vis !</p>
                </div>
            </div>

            <div class="column" id="contentColumn4">
                <img src="/images/FootballField4.jpg" alt="FootballField4" >
                <div class="container">
                    <h2>Teren 4</h2>
                    <p>Vă invităm să descoperiți noul nostru teren amenajat pe lacul Gheorgheni ! Rezervați din timp. Este una dintre cele mai cerute locații !</p>
                </div>
            </div>

            <div class="column" id="contentColumn5">
                <img src="/images/FootballField5.jpg" alt="FootballField5" >
                <div class="container">
                    <h2>Teren 5</h2>
                    <p>Cel mai nou teren pe care il punem la dispoziția clienților noștri este și cel mai spectaculos ! Situat în zona Florești acest teren beneficiază de încălzire subterană astfel
                        că fotbalul aici poate fi practicat indiferent de condițiile meteo !</p>
                </div>
            </div>
        </div>
    </body>
</html>