<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>SportParkBooking - Gallery</title>
    </head>
    <body>
        <ul>
            <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
            <li><a  href="/templates/booking.html" th:href="@{/booking}"> Booking</a></li>
            <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
            <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
            <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
            <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
        </ul>
        <p>User ID: [[${userID}]]</p>

        <div class="row" id="contentRow">
            <div class="column">
                <a href="galleryFotbal" id="hrefContent1">
                    <img src="/images/fotbal.jpg" alt="Fotbal">
                </a>
                <div class="container">
                    <h2><a href="galleryFotbal" id="hrefContent3">Fotbal</a></h2>
                </div>
            </div>
            <div class="column">
                <a href="galleryTenis" id="hrefContent2">
                    <img src="/images/tenis.jpg" alt="Tenis"  >
                </a>
                <div class="container">
                    <h2><a href="galleryTenis" id="hrefContent4">Tenis</a></h2>
                </div>
            </div>
        </div>
    </body>
</html>