<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>SportParkBooking - Message</title>
    </head>
    <body>
    <ul>
        <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
        <li><a  href="/templates/booking.html" th:href="@{/booking}"> Booking</a></li>
        <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
        <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
        <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
        <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
        <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
    </ul>
    <div class="myCenter">
        <h1>
            Contact
        </h1>
        <p> Thank you contacting us. We will back to you shortly!!</p>


    </div>
    </body>
</html>