<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/registerUser}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'User Name: '" /></td>
            <td><input type="text" th:field="*{userName}"/></td>
        </tr>
        <tr>
            <td><label th:text="'Name and Surname: '" /></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label th:text="'Email: '" /></td>
            <td><input type="text" th:field="*{userEmail}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Password: '" /></td>
            <td><input type="text" th:field="*{userPassword}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Phone: '" /></td>
            <td><input type="number" th:field="*{userPhone}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>

    </table>
</form>
</body>
</html>