<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select PlayGround</title>
</head>
<body>

<table style="border: 1px solid red">
    <tbody>
    <tr th:each="playGround: ${myPlayGroundList}">
<!--        <td th:text="${playGround.getPlayGroundName}" />-->
        <td> <a th:href="@{/selectBooking?playGroundName={id}(id=${playGround.getPlayGroundName})}" th:text="${playGround.getPlayGroundName}"/></td>
    </tr>
    </tbody>
</table>

</body>
</html>