<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>Select Booking</title>
    </head>
    <body class="selectBookingHour">
        <ul>
            <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
            <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
            <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
            <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
            <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
            <li><a  href="/templates/myBookings.html"  th:href="@{/myBookings}"> My Bookings</a></li>
        </ul>

        <div>
            <h1>Please select booking hour</h1>
            <br><br>

            <form action="#" th:action="@{'/infoBooking?playGroundName='+${playGroundName}+'&userID='+${userID}}" th:object="${booking}" method="post">
                <table border="1">
                    <tr hidden>
                        <td>Date:</td>
                        <td><input type="date" th:field="*{bookingDate}"/></td>
                    </tr>
                    <p>Available hours: [[${myHourAvailableList}]].</p>
                    <p hidden>Please make booking one hour at a time.</p>
                    <tr>
                        <td>Time:</td>
                        <td><input type="time" name="limittime" list="limittimeslist" step="3600" th:field="*{{bookingHour}}"><small> Open 9am to 10pm. </small></td>
<!--                        <td><input type="time" min="09:00" max="22:00" step=3600000 th:field="*{{bookingHour}}"/><small> Open 9am to 10pm. </small></td>-->
                    </tr>
                    <tr>
                        <td>Booking duration (h):</td>
                        <td><input type="number" min="1" max="2" value="1" th:field="*{bookingDuration}"/></td>
                    </tr>
                    <tr>
                        <td><center> <input type="reset" value="Reset" /> </center></td>
                        <td><center> <input type="submit" value="Check booking details" /> </center></td>
                    </tr>
                </table>
            </form>
            <datalist id="limittimeslist">

                <option value="09:00">
                <option value="10:00">
                <option value="11:00">
                <option value="12:00">
                <option value="13:00">
                <option value="14:00">
                <option value="15:00">
                <option value="16:00">
                <option value="17:00">
                <option value="18:00">
                <option value="19:00">
                <option value="20:00">
                <option value="21:00">
                <option value="22:00">

            </datalist>
        </div>
    </body>
</html>