<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>SportParkBooking - My Bookings</title>
</head>
<body class="userBookings">
<ul>
    <li><a  href="/templates/home.html"     th:href="@{/home}"> Home</a></li>
    <li><a  href="/templates/login.html"    th:href="@{/login}"> Login</a></li>
    <li><a  href="/templates/register.html" th:href="@{/register}"> Register</a></li>
    <li><a  href="/templates/aboutUs.html"  th:href="@{/aboutUs}"> About us</a></li>
    <li><a  href="/templates/gallery.html"  th:href="@{/gallery}"> Gallery</a></li>
    <li><a  href="/templates/contact.html"  th:href="@{/contact}"> Contact</a></li>
    <li><a  href="/templates/myBookings.html"  th:href="@{/myBookings}"> My Bookings</a></li>
</ul>

<div class="row">
    <div class="columnUserBooking">
        <h2>Booking Date</h2>
    </div>
    <div class="columnUserBooking">
        <h2>Booking Hour</h2>
    </div>
    <div class="columnUserBooking">
        <h2>Booking Duration</h2>
    </div>
    <div class="columnUserBooking">
        <h2>Booking Price</h2>
    </div>
    <div class="columnUserBooking">
        <h2>Booking Status</h2>
    </div>
    <div class="columnUserBooking">
        <h2>PlayGround Name</h2>
    </div>
    <div class="columnUserBooking">
        <h2></h2>
    </div>
</div>

<div th:if="${#lists.isEmpty(myBookingList)}" >
    <p>No bookings available</p>
</div>
<div th:unless="${#lists.isEmpty(myBookingList)}" >
    <div class="row" th:each="booking: ${myBookingList}" th:if="${userID==booking.userID}">
        <div class="columnUserBooking">
            <p>[[${booking.bookingDate}]]</p>
        </div>
        <div class="columnUserBooking">
            <p>[[${booking.bookingHour}]]</p>
        </div>
        <div class="columnUserBooking">
            <p>[[${booking.bookingDuration}]]</p>
        </div>
        <div class="columnUserBooking">
            <p>[[${booking.bookingPrice}]]</p>
        </div>
        <div class="columnUserBooking">
            <p>[[${booking.bookingStatus}]]</p>
        </div>
        <div class="columnUserBooking" th:each="playGround: ${myPlayGroundList}" th:if="${playGround.playGroundID==booking.playGroundID}" >
            <p>[[${playGround.playGroundName}]]</p>
        </div>
        <div class="columnUserBooking">
            <a th:href="@{'/cancelBooking?bookingID='+${booking.bookingID}+'&userID='+${userID}}"
            th:if="${booking.bookingStatus=='ACTIVE'}"><button>Delete</button></a>
        </div>
    </div>
</div>

</body>
</html>