.myClass {
    color: red;
}
li a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1831FC;
}

li a:hover {
  background-color: red;
}

.myCenter {
    border: 0px outset white;
    color: blue;
    text-align: center;
  }

.myLeft {
      border: 0px outset black;
      color: red;
      text-align: left;
    }
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: left;
  background-color: #474e5d;
  color: white;
}

.about-section2 {
  padding: 20px;
  text-align: left;
  margin-right: 800px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


/********************************* General *******************************/
ulMain {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/************** Footer *****************/

ulFooter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #474e5d;
  color: white;
}

footer .copyright {
	background: #474e5d;
	border-top: 2px solid #1e2730;
	padding: 0 16px;
    color: white;
}

#contentRow{
    width: 1900px;
    display: block;
    height: auto;
}
#hrefContent1 > img{
    width: 800px;
    height: 500px;
    margin: 10px 35px;
}
#hrefContent2 > img{
    width: 800px;
    height: 500px;
    margin: 10px 215px;
}
#hrefContent3 {
     margin: 10px 35px;
}
#hrefContent4 {
     margin: 10px 215px;
}
#contentRow{
    width: 1900px;
    display: block;
    height: auto;
}
#contentColumn1{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn1 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn1 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn1 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
#contentColumn2{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn2 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn2 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn2 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
#contentColumn3{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn3 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn3 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn3 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
#contentColumn4{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn4 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn4 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn4 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}

#contentColumn5{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn5 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn5 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn5 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}