.myClass {
    color: green;
    align: center;
}


h2.loginOrRegister {
    font-size:30px;
    text-align:center;
}
h2.confirmBooking{
    font-size:50px;
    padding-top: 300px;
    text-align:center;
}

span.loginOrRegister {
    background-color: rgba(240,248,255);
}
p {
    font-size:20px;
 }
p.loginOrRegister {
    font-size:25px;
    text-align:left;
}
p.loginOrRegister2 {
    font-size:25px;
    text-align:right;
}
p.index {
    font-size:18px;
}
body.loginOrRegister {
    background-image: url('/images/loginOrRegister.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}
body.login {
    background-image: url('/images/login.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}
body.register {
    background-image: url('/images/register3.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}

body.selectBookingDate {
    background-image: url('/images/booking.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}
body.selectBookingHour {
    background-image: url('/images/bookingHour.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}

body.bookingNotAvailable {
    background-image: url('/images/bookingNotAvailable.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}
body.confirmBooking {
    background-image: url('/images/confirmBooking.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}

body.infoBooking {
    background-image: url('/images/infoBooking.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}

body.contact {
    background-image: url('/images/contact.jpg');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center%;
}
img.index{
    width:840px;
    height:600px;
}
table
{
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(240,248,255);
}
table.contact
{
    margin-left: 600px;
    margin-top: 320px;
    background-color:rgba(178,255,102);
}

li a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #66CC00;
}

li a:hover {
  background-color: #E5FFCC;
}

.myCenter {
    border: 0px outset white;
    color: blue;
    text-align: center;
  }

.myLeft {
      border: 0px outset black;
      color: green;
      text-align: left;
    }
.column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: left;
  background-color: #46D750;
  color: white;
}

.about-section2 {
  padding: 20px;
  text-align: left;
  margin-right: 800px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


/********************************* General *******************************/
ulMain {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/************** Footer *****************/

ulFooter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #46D750;
  color: white;
}

footer .copyright {
	background: #46D750;
	border-top: 2px solid #1e2730;
	padding: 0 16px;
    color: white;
}

#contentRow{
    width: 1450px;
    display: block;
    height: auto;
}
#contentRowGallery{
    width: 1900px;
    display: block;
    height: auto;
}
#contentRowGallery2{
    width: 1900px;
    display: block;
    height: auto;
}
#hrefContent1 > img{
    width: 800px;
    height: 500px;
    margin: 10px 35px;
}
#hrefContent2 > img{
    width: 800px;
    height: 500px;
    margin: 10px 215px;
}
#hrefContent3 {
     margin: 10px 35px;
}
#hrefContent4 {
     margin: 10px 215px;
}
#contentColumn1{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn1 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn1 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn1 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
#contentColumn2{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn2 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn2 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn2 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
#contentColumn3{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn3 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn3 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn3 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}

#contentColumn4{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn4 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn4 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn4 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}

#contentColumn5{
    width: 600px;
    display: block;
    height: auto;
}
#contentColumn5 > img{
    float: left;
    width: 600px;
    height: 400px;
    margin: 5px 8px;
}
#contentColumn5 > p{
     width: 520px;
     margin: 5px 8px;
}
#contentColumn5 > h2{
      margin-left: 5px;
      font-weight: bold;
      width: 580px;
}
